.Container{
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    background-color: #f1c40f;
    height:280px;
    width: 220px; 
    font-size: 16px;
    border: 3.5px solid #f1c40f;
    border-inline-color: #f1c40f;
    border-bottom-color: #f1c40f;
    overflow: hidden;
    transition: 100ms;
    align-items: center;
    text-decoration: none;
  
}
.Container{
    margin: 5px;
    background-repeat: no-repeat; 
  
}
.Container:hover{
    box-shadow: 0px 5px 5px 0px  rgba(214, 214, 214, 0.769);
}

.nombre{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:18px;
    align-content: center;
    justify-content: center;
    height:30px;
    text-align: center;
    color:rgb(255, 255, 255);
   -webkit-text-stroke: 2px rgb(245, 22, 22);
}



.tipos{
    font-size:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding-bottom: 15px;
   padding-top: 18px;
   text-align: justify;
   background-color: rgba(245, 22, 22, 0.721);
   height: 120px;
   display: flex;
   flex-direction: row; 
   justify-content:  space-around;
   padding-left: 20px;
   padding-right: 20px;
   color:rgb(255, 255, 255);
   -webkit-text-stroke: 1.5px rgb(245, 22, 22);
}



.btn{
    display:flex;
    flex-direction: row-reverse;
    background-color: transparent;
    border: 1px solid transparent;
    color:  #f1c40f;
    font-size: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 40px;
}
   
    
.btn:hover {
    border-radius: 999px;
      box-shadow: 3px 3px 3px #f1c40f; 
 } 

.img{
    align-items: center;
    height: 110px;
    width: 90%;
   
}

/* .fondoimg{
    background-image: url('./imagenes/pokemon-pixel-art-.jpg');
    width: 50px;
    height: 100px;
}  */
/* 
.tipos{
    position: absolute;
    left: 35%;
    bottom:50%;
   align-content:flex-end;
   justify-content: center;
   display: flex;
   bottom: 100px;
} */

.Container .Card{
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0);
    overflow: hidden;
    margin: 15px;
    text-align: center;
    transition: all 0.25s; 
}

.Container .Card:hover{
    /* transform: translate(-15px); */
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}
.Card .img{
    border-radius: 12px;
    overflow: hidden;
    margin: 0px;
    text-align: center;
    transition: all 0.25s; 
}

.Card .img:hover{
    transform: translate(+15px);
    
}


