.Cargando{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 250px;
    align-items: center;
}

.menu{
   background-color:  #363636 ;
    width: 100%;
    flex-direction: flex;
    justify-content:space-between;
    padding-left: 20px;
}
.Filtros{
     display:flex;
     justify-content:space-between;
     margin: 25px;
 }
.div1{
    padding-top: 20px;
    flex-direction: row;
    justify-content:space-between;
    display: flex;
   
}
.a{
    color:rgb(255, 255, 255);
    font-size: 20px ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 
 
 .todos{
     display: flex;
     text-decoration: none;
     position: absolute;
     color: white;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
  
 }

.Cards{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 2fr);
    padding-top: 50px;
    background-color: rgb(102, 101, 101);
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px 15px 15px 100px;
    justify-content: center;
    margin-right: auto;
}

.select{
    font-size: 20px;
    
}

.paginado{
    position: relative;
    display:flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
}

.cargar{
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 999px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 5px;
}
.Cargando{
    padding-left: 500px;
    padding-top: 50px;
}

.cargar{
    list-style: none;
    text-align: center;
      }

  .cargar::before{
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      background-color:rgb(149, 1, 1); 
      transition: all 500ms ease;
      z-index: -1;
    }
    
    
    .cargar:hover{
        background-color: rgba(202, 199, 199, 0.418);
      box-shadow: rgb(149, 1, 1), 0 0 20 rgb(149, 1, 1); 
      color: white;
    }

    .bnt{
        border-radius: 10px;
        background-color: transparent;
        color: rgb(0, 0, 0);
        font-size: 28px;
        font-family: 'Architects Daughter', cursive;
        border-color: #f1c40f;
        box-shadow: 0 0 40px 40px #f1c40f inset, 0 0 0 0 #f1c40f;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        font-weight: 300;
        width: 250px;
        height: 40px;
        }

        .A1{
            padding-top: 20px;
        }
        
        
        .bnt:hover{
            box-shadow: 0 0 10px 0 #f1c40f inset, 0 0 10px 4px #f1c40f;
            color:rgb(0, 0, 0)
        }

        .select{
        height: 40px;
        width: 200px;
        border-radius: 10px;
        font-size: 18px;
        font-family: 'Architects Daughter', cursive;
        overflow: hidden;
        transition: all 500ms ease;
        z-index: 0;
        text-align: center;
        font-weight: 700;
        padding: 4px 4px;
        border-color: #f1c40f;
        color: rgb(0, 0, 0);
        background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
        background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
        }
        
        .select:hover{
            background-position: 0; 
        }
     