.paginacion ul {
    list-style: none;
    text-align: center;
}

/* .paginacion li{
    list-style: none;
    text-align: center;;
} */

.paginacion ul li{
    display: inline-block;
    margin-right:15px;
}

.paginacion ul li button{
    position: relative;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #f1c40f;
    font-size: 14px;
    font-family: 'Architects Daughter', cursive;
    background-color:transparent;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #f1c40f;
    font-weight: 1000;
    border-radius: 10px;
}

.paginacion ul li button:hover{
    background-color: rgba(202, 199, 199, 0.418);
    box-shadow: rgb(12, 12, 12), 0 0 20 rgb(255, 255, 255); 
    color: white;
    box-shadow: 0px 1px 5px 5px  #f1c40f;
}



