.input{
    border: 3px solid red;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: red;
    padding-left: 10px;
    font-family: 'Architects Daughter';
  }
.input:hover {
    box-shadow: 0 0 10px 0 rgba(240, 248, 255, 0.205) inset, 0 0 10px 4px rgba(240, 248, 255, 0.205);
  }

.input:focus {
    outline: none;
    color: red;
   
  }
.input::placeholder {
    color: red;
    
  }

.bnt{
  background-color: transparent;
    height: 40px;
    width: 50px;
    border-radius: 9999px;
    color: red;
    font-size: 24px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 0px solid transparent;
    z-index: 0;

  }
    
  .bnt{
    list-style: none;
    text-align: center;
  }
     
    
    .bnt:hover{
      box-shadow: 3px 3px 3px 0 red;
    }
  